# essential-style
# Rockbox theme for iPod 4G / 160x128 greyscale
# Author: Patrick Stigler
# Rev. 1 — 2026-09-08
# CC-BY-SA
#
# Inspired by:
#   Flattery-B by Christian Soffke
#   ipodVOL by xameius (submitted by Stephen Carroll)
#   ChicagoUnified by Brendan Riera
#   Simple Icons (H120) by John Bayley (submitted by Stephen Carroll)
#

font: /.rockbox/fonts/14-Nimbus.fnt
wps: /.rockbox/wps/essential-style.wps
sbs: /.rockbox/wps/essential-style.sbs
iconset: /.rockbox/icons/essential-style_minicons.bmp
viewers iconset: -
show icons: on
backdrop: -
selector type: bar (inverse)
statusbar: top
scrollbar: right
scrollbar width: 8
ui viewport: -

volume display: graphic
battery display: graphic
